body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #1e1e2f;
    color: #f0f0f5;
    padding: 20px;
    text-align: center;
}

header {
    background-color: #2c2c3e;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px black;
    margin-bottom: 30px;
}

nav {
    display: inline-flex;
    justify-content: center;
    gap: 10px;
}

h2 {
    text-shadow: 1px 1px 2px #000000;
}

nav a {
    text-decoration: none;
    color: #ecebeb;
    font-weight: bold;
    background-color: #603fc4;
    padding: 5px;
    border-radius: 50px;
    text-shadow: 1px 2px 1px #1e1e2f;
    box-shadow: 2px 2px 3px #ecebeb;
}

nav a:hover {
    color: #e2c8ff;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #292941;
    border-radius: 12px;
    box-shadow: 0 4px 12px black;
}

h1 {
    margin-bottom: 20px;
    color: #c9afff;
    border-bottom: 2px solid #a98dfc;
    padding-bottom: 10px;
    text-shadow: 1px 1px 2px #292941;

}

p,
li {
    margin-bottom: 15px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

main a {
    color: #88b7ff;
    text-decoration: none;
    border-bottom: 1px dashed #88b7ff;
    transition: all 0.3s ease;
}

main a:hover {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    margin-top: 40px;
    color: #888;
    font-size: 0.9rem;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    main {
        padding: 15px;
    
}
}
form {
    display: inline-block;
    padding: 20px;
    background-color: #5e4f8c;
    text-shadow: 1px 1px 2px#2c2c3e;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #c9afff;
}
#envio {
    background-color: #190a46;
    color: #ecebeb;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 1px 1px 2px #c9afff;
}
.links {
    font-size: 25px;
    background-color: #5b39c3;
    padding: 10px;
    border-radius: 25px;
    color: #190a46;
    text-shadow: 1px 2px 1px black;
}
.links:hover {
    color: #ffffff;
}
.links:visited {
    color: #0066ff;
}